
{% extends 'index.html'%}

<!Doctype html>
<html lang="en">

<head>
 <meta charset="utf-8">
  <title> {% block title %} {% endblock %} </title>
    </head>

      <body>

      <img src="{% static"img/doctor1.jpg" %}" alt="doctor1" />
      h1> Welcome to Admission Blog... </h1>
      {% block content %}

      <div class="container">

       <div class="jumbotron">

    {% for Treatment in object_list %}

      <p> {{Treatment : Treatment_ID}} </p>
      <p> {{Treatment :  Patient_ID =}} </p>
      <p> {{Treatment:Diagnosis }}</p>
      <p> {{Treatment: Date_Of_Treatment}} </p>
      <p> {{Treatment: Details }} </p>
      <p> {{Treatment: }} </p>

    </div>

    {% endblock%}

    </body>
   </html>

   