
{% extends 'index.html'%}

<!Doctype html>
<html lang="en">

<head>
 <meta charset="utf-8">
  <title> {% block title %} {% endblock %} </title>
    </head>

      <body>

      <img src="{% static"img/doctor1.jpg" %}" alt="doctor1" />
      h1> Welcome to Admission Blog... </h1>
      {% block content %}

      <div class="container">
      </div>

       <div class="jumbotron">

    {% for Ward in object_list %}

      <p> {{  Ward: Ward_ID}} </p>
      <p> {{ Ward : Patient_ID}} </p>
      <p> {{ Ward: status }}</p>
      

    </div>

    {% endblock%}

    </body>
   </html>

   